/* Place custom styles below */
#suiteBarDelta {
    display: none
}

#s4-titlerow {
    display: none !important
}

#s4-ribbonrow {
    display: none
}

#titleAreaBox {
    display: none
}

table tr td {
    text-align: center
}

table tr th {
    text-align: center
}
