<div class="container-fluid">

    <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12">

        <div class="alert alert-info" role="alert">
            <p>
                <strong>
                    Hello {{data.user.name}}!
                </strong>
            </p>

            <p>
                Please select (click) the company that you want to apply to. A panel will appear to upload your CV. Marked with
                '<i class="glyphicon glyphicon-ok text-success"></i>' are the companies you have already applied for.
            </p>
        </div>

        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

            <div class="panel panel-default" ng-repeat="company in data.companies">

                <div class="panel-heading" role="tab" id="heading{{$index}}" ng-init="getCompanyStatus($index)">
                    <h4 class="panel-title collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                        href="#collapse{{$index}}" aria-expanded="true" aria-controls="collapse{{$index}}" style="cursor:pointer">
                        {{company.name}} <i ng-if="company.cvUploaded" class="glyphicon glyphicon-ok text-success pull-right"></i>
                    </h4>
                </div>

                <div id="collapse{{$index}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading{{$index}}">
                    <div class="panel-body">

                        <div class="alert alert-success container-fluid" ng-if="company.cvUploaded">
                            <div class="col-md-11 col-sm-10 col-xs-9">
                                You have already submitted a CV to this company.
                                <a target="_blank" href="{{company.cvLink}}">Download it from here ({{company.cvFile}})</a>
                            </div>
                            <div class="col-md-1 col-sm-2 col-xs-3">
                                <button type="button" class="btn btn-default" ng-click="deleteCV($index)">
                                    <i class="glyphicon glyphicon-trash"></i>
                                </button>
                            </div>
                        </div>

                        <div class="alert alert-warning" ng-if="!company.cvUploaded">
                            No CV has been uploaded for this company
                        </div>

                        <div class="form-horizontal">
                            <div class="col-md-8">
                                <div class="input-group">
                                    <span class="input-group-addon" id="basic-addon{{$index}}">Upload CV </span>
                                    <input id="cv{{$index}}" accept=".pdf" type="file" class="form-control"
                                           value="" name="cv{{$index}}" aria-describedby="basic-addon{{$index}}">
                                </div>
                            </div>

                            <div class="col-md-4">
                                <button type="button" class="btn btn-primary btn-block" ng-click="submitCV($index)">
                                    Submit
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>